{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='countys_ranking.css') }}">
<style>
    .container {
        grid-template-rows: auto repeat({{ dict_len + 1 }}, 100px);
    }
</style>
<div class="ranking">
    <div class="heading">
        <img src="{{ url_for('static', filename='images/league_logos/fifa.png') }}">
        <h1>National Team Ranking</h1>
    </div>
    <table class="ranking_table">
        <thead>
            <tr>
                <th class="th-sort-asc">
                    <span class="po">Rank</span>
                    <i style="color: #fff" class="fa-solid fa-down-long"></i>
                    <i class="fa-solid fa-up-long"></i>
                </th>
                <th>
                    <span class="po">Name</span>
                    <i class="fa-solid fa-down-long"></i>
                    <i class="fa-solid fa-up-long"></i>
                </th>
                <th class="th-sort-desc">
                    <span class="po">Points</span>
                    <i class="fa-solid fa-down-long"></i>
                    <i class="fa-solid fa-up-long"></i>
                </th>
                <th class="th-sort-desc">
                    <span>Previous Points</span>
                </th>
                <th class="th-sort-asc">
                    <span class="po">+/-</span>
                    <i class="fa-solid fa-down-long"></i>
                    <i class="fa-solid fa-up-long"></i>
                </th>
                <th>
                    <span>Position</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for country in countrys %}
                <tr>
                    <td>
                        <span class="td_item">{{ country }}</span>
                    </td>

                    <td>
                        {% set h = countrys[country]["color"] %}
                        {% set a = countrys[country]["color_sec"] %}
                        {% set link = url_for('country', country_name=countrys[country]["name"].lower()) %}
                        <a id="{{country}} {{countrys[country]['name']}}" class="item country" 
                        style="background-color: rgba({{h[0]}}, {{h[1]}}, {{h[2]}}, 0.5); color: #fff;" href="{{ link }}">
                            <img src="{{ url_for('static', filename=countrys[country]['code']) }}" class="country_icon">
                            {{ countrys[country]["name"] }}
                        </a>
                    </td>

                    <td>
                        <span class="td_item">{{ countrys[country]["points"] }}</span>
                    </td>

                    <td>
                        <span class="td_item">{{ countrys[country]["prev_points"] }}</span>
                    </td>

                    <td>
                        <span id="diff_points" class="td_item">{{ countrys[country]["diff_points"] }}</span>
                    </td>

                    <td id="diff" class="td_item">
                        {% if country > countrys[country]["prev_ranking"] %}
                            <i class="fa-solid fa-arrow-down"></i>
                            <span id="diff_ranking">{{ countrys[country]["diff_ranking"] }}</span>
                        {% elif country < countrys[country]["prev_ranking"] %}
                            <i class="fa-solid fa-arrow-up"></i>
                            <span id="diff_ranking">{{ countrys[country]["diff_ranking"] }}</span>
                        {% elif country == countrys[country]["prev_ranking"]%}
                            <i class="fa-solid fa-equals" style="color: rgba(255, 255, 255, .5)"></i>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='javaScript/countrys_ranking.js') }}"></script>
{% endblock %}