{% extends 'base.html' %}


{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='leagues.css') }}">
<div class="leagues">
    <div class="games_overview">
        {% for league, name in leagues_accepted.items() %}
            <ul class="games_list">
                <h2>{{ name }}</h2>
                {% for id in matches_leagues %}
                    {% if matches_leagues[id]["league"] == league %}
                        {% set link = url_for('match_details', match_id=id) %}
                        <a href="{{ link }}"><li class="game_item">
                            <p class="home_team">{{ matches_leagues[id]["home"] }}</p>
                            <p class="away_team">{{ matches_leagues[id]["away"] }}</p>
                        </li></a>
                    {% endif %}
                {% endfor %}
            </ul>

<!--            <ul class="games_list">
                <h2>La Liga</h2>
                {% for id in laliga %}
                    {% set link = url_for('match_details', match_id=id) %}
                    <a href="{{ link }}"><li class="game_item">
                        <p class="home_team">{{ laliga[id][0] }}</p>
                        <p class="away_team">{{ laliga[id][1] }}</p>
                    </li></a>
                {% endfor %}
            </ul>

            <ul class="games_list">
                <h2>Bundesliga</h2>
                {% for id in bundesliga %}
                        {% set link = url_for('match_details', match_id=id) %}
                    <a href="{{ link }}"><li class="game_item">
                        <p class="home_team">{{ bundesliga[id][0] }}</p>
                        <p class="away_team">{{ bundesliga[id][1] }}</p>
                    </li></a>
                {% endfor %}
            </ul>

            <ul class="games_list">
                <h2>Seria A</h2>
                {% for id in seria_a %}
                        {% set link = url_for('match_details', match_id=id) %}
                    <a href="{{ link }}"><li class="game_item">
                        <p class="home_team">{{ seria_a[id][0] }}</p>
                        <p class="away_team">{{ seria_a[id][1] }}</p>
                    </li></a>
                {% endfor %}
            </ul>

            <ul class="games_list">
                <h2>Ligue 1</h2>
                {% for id in ligue_1 %}
                        {% set link = url_for('match_details', match_id=id) %}
                    <a href="{{ link }}"><li class="game_item">
                        <p class="home_team">{{ ligue_1[id][0] }}</p>
                        <p class="away_team">{{ ligue_1[id][1] }}</p>
                    </li></a>
                {% endfor %}
            </ul>

            <ul class="games_list">
                <h2>Ukraine Premiere League</h2>
                {% for id in ukraine %}
                        {% set link = url_for('match_details', match_id=id) %}
                    <a href="{{ link }}"><li class="game_item">
                        <p class="home_team">{{ ukraine[id][0] }}</p>
                        <p class="away_team">{{ ukraine[id][1] }}</p>
                    </li></a>
                {% endfor %}
            </ul>-->
        {% endfor %}
    </div>
</div>
{% endblock %}
